#container{
    border:1px solid black;
    text-align:left;
    width:30%;
    height:250px;
}
#cost>button:hover,#discount>button:hover,#category>button:hover,#rating>button:hover{
    background-color:black;
    color:white;
}
#cost>button,#discount>button,#category>button,#rating>button{
border:1px solid black;
margin-left:10px;
}
#category>select{
    border:1px solid black;
}
#rate2,#rate3,#rate4{
    margin-left:10px;
}